/* --------------- */
/*     Custom Properties      */
/* -------------- */
:root {

    /* colors */
    --clr-dark: #111;
    --clr-white: #FFF;
    --clr-accent: #07366b;
    --clr-light: #dbcea1;
    /* font-sizes */
    --fs-900: 4.5em;
    --fs-800: 4em;
    --fs-700: 3.5em;
    --fs-600: 3em;
    --fs-500: 2.5em;
    --fs-400: 2em;
    --fs-300: 1.5em;
    --fs-200:  1em;
}


/* --------------- */
/*     RESET      */
/* -------------- */

* ,
*::before,
*::after{
box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

body {
    margin:0;
    padding: 0;
    line-height: 1.6;
    font-family: sans-serif;
}

img{
    width: 100%;
    display: block;
}

/* --------------- */
/*     Utility      */
/* -------------- */

/* general */
.flex{
    display: flex;
}

.grid-container{
    display: grid;
}

.bg-dark {
    background-color: var(--clr-dark);
}

.bg-red {
    background-color: rgb(var(--clr-red));
}

/* classes */

.welcome-section {
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: radial-gradient(#e66465, #9198e5);
    background-position: center;
    object-fit: contain;
    color: white;
}

.projects {
    flex-direction: column;
    color: var(--clr-white);
    padding-bottom: 3em;
}

.projects h2{
    text-align: center;
    margin: 1em 0;
}

.project-card{
    width: 80%;
    margin: 1em auto;
    width: 80%; 
    
    border-radius: 1em;
    background-color: #333;
}

.project-description a{
    text-decoration: none;
    color: var(--clr-white);
    margin: 0.5em ;
    margin-block-start: 0.5em;
    border-bottom: 2px solid transparent;
}

.project-description a:hover{
    border-bottom: 2px solid transparent
}

.project-description p {
    padding: 0.5em;
}


.card-img {
    width: 100%;
    border-radius: 1em 1em 0 0;
    
    overflow: hidden;
}

.contacts{
    height: 50vh;
    background-color: var(--clr-accent);
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.contacts h2{
    color: var(--clr-light);
    font-size: var(--fs-600);
}

.social-links{
    width: 80%;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.social-links a{
    box-shadow: 0 0 3px 3px hsl(0 0% 0% / 0.3);
    --brdr-radius: 5px;
    margin: 0 0.5em;
    border-radius: 0;
    flex-wrap: wrap;
    /* outline: 1px solid white; */
    border-top-left-radius: var(--brdr-radius);
    border-top-right-radius: var(--brdr-radius);
    border-bottom-left-radius: var(--brdr-radius);
    border-bottom-right-radius: var(--brdr-radius);
    }

.social-links .fa {
    padding: 0.3em;
    text-align: center;
    font-size: 2em;
    text-decoration: none;
    transition: color 200ms ease-in,
                background-color 200ms ease-in,
                margin-bottom 200ms ease-in;
} 

.social-links .fa-github{
    color: grey;
    background-color: white;
}


.social-links .fa-github:hover,
.social-links .fa-github:focus{
    color: white;
    background-color: var(--clr-dark);
}


.social-links .fa-linkedin{
    border-radius: 0;
    color: white;
    background-color: rgb(10, 102, 194);
    
    border-radius: var(--brdr-radius);
}

.linkedin-container:hover .fa,
.linkedin-container:focus .fa{
    transform: translateY(-7px);
    transition: transform 0.2s ease-in;
}

.social-links .fa-envelope{
    background-color: black;
    color: white;
}

.social-links .fa-phone{
    background-color: #eaeaea;
    color: #e66465;
    
}

.social-links .fa-phone:hover,
.social-links .fa-phone:focus{
    animation: phone-ringing 1s ease-in-out;
}

@keyframes phone-ringing{
    0%{
        transform: rotate(0deg);
    }

    20%{
        transform: rotate(7deg);
    }

    40%{
        transform: rotate(-7deg);
    }
    60%{
        transform: rotate(7deg);
    }
    80%{
        transform: rotate(-7deg);
    }
    100%{
        transform: rotate(0deg);
    }
}